html {
  width: 420mm;
  height: 297mm;
  border: 1px solid black;
}

p {
    top: 0;
    float: left;
    font-size: 6pt;
    font-family: 'poppins';
    transform: translate(840px, -1070px);
}

h2 {
    text-align: right;
    /* position: absolute; */
    font-family: avara;
    float: right;
    width: 100%;
    transform: translate(-50px, -540px);
    font-size: 50pt;
}

span {
    font-family: poppins;
    width: 67mm;
    display: block;
    /* float: left; */
    /* BOTTOM: 0 !important; */
    transform: translate(30px, 500px);
    margin-top: 21pt;
    font-size: 8pt;
}

span::before {
      content: attr(data-lang);
      position: absolute;
      text-transform: uppercase;
      left: -2em;
      line-height: var(--line-height);
}

img {
  width: 50pt;
}

.test {
    transform: translate(850px, -570px);
}

.flip {
    transform: scale(-1) translate(-790px, 400px);
}

