html {
  width: 210mm;
  height: 297mm;
  border: 1px solid black;
}

a {
    font-family: "Poppins";
    font-size: 0.84em;
    letter-spacing: 0.025em;
    font-weight: 500 !important;
    color: darkgoldenrod;
}

p {
    font-family: 'Spectral',serif;
    font-size: 8pt;
    max-width: 30em;
    line-height: var(--line-height);
    margin: 0 0 0 0;
    text-rendering: optimizelegibility;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


div b, div p {
  font-size: 8pt;
  font-family: 'poppins';
  font-weight: bold;
}


h2 {
  margin: 0;
  font-family: avara;
  font-size: 40pt;
}

h3 {
  margin: 0;
  font-family: poppins;
  font-size: 10pt;
}
sup {
    transform: translate(70px, 0px);
    float: right;
        margin-right: 12px;
}

.block {
  margin:10mm;
  width: 120mm;
  background-color:;
/*  margin-right: 20vw;*/
  height: 45mm;
}

/*div#floatright {
    margin-right: 0;
    margin-left: 80mm;
}*/

img {
  transform: scaleX(-1);
  float: right;
  mix-blend-mode: darken;
  transform: translate(10px, 10px);
/*  filter: grayscale(100%);*/
}

.test {
  transform: scaleX(-1);
  width: 100mm;
  float: right;
  position: fixed;
  margin-right: 0;

}

.flip {
  transform: none;
    float: left;
}


@media print {

  @page {
    margin-top: 1cm;
    margin-bottom: 0cm;
    margin-left: 1cm;
    margin-right: 0cm;
}

  html {
        columns: 1;
  } 
}