body {
  margin: 1cm;
  /*padding: 1cm;*/
  width: 420mm;
  height: 297mm;
  border: 1px solid black;
  position: relative;
}

#empty {
  height: 150mm;
  width: 10mm;
}

a {
  color: black;
}

#index_publication {
  height: 297mm;
}

.mw-parser-output a.external, a {
    font-family: "Poppins";
    font-size: 0.84em;
    letter-spacing: 0.025em;
    font-weight: 500 !important;

}

p, .mw-body-content p {
    font-family: 'Spectral',serif;
    font-size: var(--font-size);
    max-width: 18em;
    line-height: var(--line-height);
    margin: 0 0 0 0;
    text-rendering: optimizelegibility;
}

p {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
  font-family: avara;
  font-size: 12pt;
}

h2#title {
    transform: translate(-20px, 320px);
    text-align: right;
    /* bottom: 97px; */
    position: relative;
    font-size: 40pt;
}

h3 {
  margin: 0;
  font-family: poppins;
  font-size: 10pt;
}

sup {
    transform: translate(70px, 0px);
    float: right;
    margin-right: 12px;
}


html {
  /*column-count: 4;*/
  column-fill: auto;

  }

#wikichanges {
   transform: rotate(-90deg);
   transform-origin: top left;
  margin-left: 5mm;
  position: absolute;
  top: 100%;
  left:;
}

#wikichanges p{
  column-count: 1;
  font-family: ocr-pbi;
  max-width: 40em;
  font-size: 6pt;
}

#container {
  position: absolute;
}
