html {
  /*margin: 1cm;*/
  padding: 1cm;
  width: 420mm;
  height: 297mm;
  border: 1px solid black;
}

div#images {
    position: relative;
}

img {
  position: absolute;
  width: 40pt;
}

#img1 {
  transform: translate(10px, 10px);
}

#img2 {
    transform: translate(10px, 280px);
}

#img3 {
    transform: translate(160px, 280px);
}

#img4 {
    transform: translate(300px, 278px);
}

#img5 {
    transform: translate(10px, 200px);
}

#img6 {
    transform: translate(10px, 120px);
}

#img7 {
    transform: translate(240px, 189px);
}

#flip2, #flip3, #flip4, #flip5, #flip6, #flip7, #flip8 {
  transform: translate(10px, 10px);
}


#flip2 {
    transform: translate(0px, 0px);
}

#flip3 {
    transform: translate(0px, 0px);
}

#flip4 {
    transform: translate(0px, 0px);
}

#flip5 {
    transform: translate(0px, 0px);
}

#flip6 {
    transform: translate(0px, 0px);
}

#flip7 {
  transform: translate(0px, 0px);
}

#wikichanges p{
  font-family: ocr-pbi;
  max-width: 40em;
  font-size: 7pt;
}
div#wikichanges {
    transform: rotate(-90deg) translate(250px, 388px);
    width: 260mm;
    /* background-color: red; */
    column-count: 2;
    column-gap: 160pt;
    line-height: 12pt;
}

#titles {
  width: 100vw;
  bottom: 305pt;
  position: relative;
}

#title {
  display: inline;
  margin-right: 15pt;
}

#left {
  width: 200mm;
  height: 586mm;
}